<section class="section banner-section">
<ngb-carousel *ngIf="popularProductList" class="carousel-fade">
	<ng-template *ngFor="let item of popularProductList" ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="item.productImage" alt="Random first slide" />
		</div>
		<a routerLink="details/{{item.id}}">
			<div class="carousel-caption">
				<h3>{{item.productName}}</h3>
				<p>{{item.productDescription}}</p>
			</div>
		</a>
	</ng-template>
</ngb-carousel>
</section>
<section class="section category-section">
	<app-category-gallery></app-category-gallery>
</section>
<section class="section bestseller-section">
	<app-product-gallery></app-product-gallery>
</section>