<section class="cart-page-section">
    <!-- Start Most Popular -->
    <div class="product-area most-popular related-product section">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="section-title mb-3">
                        <h4>Cart Items({{ cartItems }})</h4>
                    </div>
                    <div *ngIf="cartItems === 0">
                        <h6>Your cart is empty!</h6>
                    </div>
                    <div class="single-product" *ngFor="let item of currentCartData">
                        <div class="product-wrapper shadow mb-2">
                            <ul class="product-list">
                                <li>
                                    <a *ngIf="!item.id" routerLink="/details/{{item.productId}}">
                                        <img class="cart-product-img"
                                            src="{{item.productImage}}"
                                            alt="{{item.productImage}}" />
                                    </a>
                                    <a *ngIf="item.id" routerLink="/details/{{item.id}}">
                                        <img class="cart-product-img"
                                            src="{{item.productImage}}"
                                            alt="{{item.productImage}}" />
                                    </a>
                                </li>
                                <li><span>{{item.productName}}</span></li>
                                <li><span>Price : &#8377;{{item.productPrice}}</span></li>
                                <li><span>Quantity : {{item.quantity}}</span></li>
                                <li>
                                    <button *ngIf="item.id" class="btn btn-custom-info-inverse btn-sm m-2" (click)="removeFromCart(item.id)">
                                        Remove From Cart
                                    </button>
                                    <button *ngIf="!item.id" class="btn btn-custom-info-inverse btn-sm m-2" (click)="removeFromCart(item.productId)">
                                        Remove From Cart
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="section-title mb-3">
                        <h4>Summary</h4>
                    </div>
                    <div class="single-product">
                        <div class="product-wrapper shadow mb-2">
                            <ul class="summary-list">
                                <li><strong>Cart Value:</strong><span>&#8377;{{priceSummary.price}}/-</span></li>
                                <li><strong>GST:</strong><span>&#8377;{{priceSummary.tax}}/-</span></li>
                                <li><strong>Delivery:</strong><span>&#8377;{{priceSummary.delivery}}/-</span></li>
                                <li><strong>Discount:</strong><span>-&#8377;{{priceSummary.discount}}/-</span></li>
                                <hr>
                                <li><strong>Total Amount:</strong><strong>&#8377;{{priceSummary.total}}/-</strong></li>
                                <button *ngIf="priceSummary.total" class="btn btn-custom-primary-inverse btn-sm mt-3 mb-2" (click)="checkout()">Checkout Now</button>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Most Popular Area -->
</section>