<section class="cart-page-section">
    <!-- Start Most Popular -->
    <div class="product-area most-popular related-product section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title mb-3">
                        <h4>My Orders({{ orderItems }})</h4>
                    </div>
                    <div class="single-product" *ngFor="let item of myOrders">
                        <div class="product-wrapper shadow mb-2">
                            <ul class="product-list">
                                <li>
                                    <a *ngIf="item.productId" routerLink="/details/{{item.productId}}">
                                        <img class="cart-product-img"
                                            src="{{item.productImage}}"
                                            alt="{{item.productImage}}" />
                                    </a>
                                    <a *ngIf="!item.productId" routerLink="/details/{{item.id}}">
                                        <img class="cart-product-img"
                                            src="{{item.productImage}}"
                                            alt="{{item.productImage}}" />
                                    </a>
                                </li>
                                <li><span class="text-muted">Order ID:</span><br><span>#{{item.id}}</span></li>
                                <li><span class="text-muted">Product:</span><br><span>{{item.productName}}</span></li>
                                <li><span class="text-muted">Price:</span><br><span>&#8377;{{item.productPrice}}</span></li>
                                <li><span class="text-muted">Quantity:</span><br><span>{{item.quantity}}</span></li>
                                <li><span class="text-muted">Order Status:</span><br><span>In Progress</span></li>
                                <li>
                                    <button class="btn btn-custom-info-inverse btn-sm m-2">
                                        Cancel Order
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Most Popular Area -->
</section>