.cascading-right {
  margin-right: -50px;
}

.btn-floating{
  border-radius: 100%;
}

span{
  color: var(--main-primary-color);
  font-weight: 500;
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
  .background-image{
    display: none;
  }
}