/* You can add global styles to this file, and also import other style files */
:root{
    --main-primary-color: #0B3259;
    --main-info-color:#FFA309;
    --main-secondary-color:#04B843;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section{
    padding: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* styles for primary button */
.btn-custom-primary{
    border-color: var(--main-primary-color);
    color: var(--main-primary-color) !important;
}

.btn-custom-primary:hover,.btn-custom-primary:active,.btn-custom-primary:focus{
    background-color: var(--main-primary-color);
    color: white !important;
    border-color: var(--main-primary-color);
}

.btn-custom-primary-inverse{
    background-color: var(--main-primary-color);
    color: white !important;
    border-color: var(--main-primary-color);
}

.btn-custom-primary-inverse:hover,.btn-custom-primary-inverse:active,.btn-custom-primary-inverse:focus{
    border-color: var(--main-primary-color);
    color: var(--main-primary-color) !important;
}

.btn-custom-info{
    border-color: var(--main-info-color);
    color: var(--main-info-color) !important;
}

.btn-custom-info:hover,.btn-custom-info:active,.btn-custom-info:focus{
    background-color: var(--main-info-color);
    color: white !important;
    border-color: var(--main-info-color);
}

.btn-custom-info-inverse{
    background-color: var(--main-info-color);
    color: white !important;
    border-color: var(--main-info-color);
}

.btn-custom-info-inverse:hover,.btn-custom-info-inverse:active,.btn-custom-info-inverse:focus{
    border-color: var(--main-info-color);
    color: var(--main-info-color) !important;
}

.btn-custom-secondary{
    border-color: var(--main-secondary-color);
    color: var(--main-secondary-color) !important;
}

.btn-custom-secondary:hover,.btn-custom-secondary:active,.btn-custom-secondary:focus{
    background-color: var(--main-secondary-color);
    color: white !important;
    border-color: var(--main-secondary-color);
}

.btn-custom-secondary-inverse{
    background-color: var(--main-secondary-color);
    color: white !important;
    border-color: var(--main-secondary-color);
}

.btn-custom-secondary-inverse:hover,.btn-custom-secondary-inverse:active,.btn-custom-secondary-inverse:focus{
    border-color: var(--main-secondary-color);
    color: var(--main-secondary-color) !important;
}
/* styles for primary button END*/

/* styles for carousel */
.picsum-img-wrapper{
    height: 89vh !important;
    width: 100vw !important;
}

.picsum-img-wrapper img{
    height: 100% !important;
    width: 100% !important;
}

.carousel-caption{
    padding: 50px;
    background-color: black;
    opacity: 60%;
    border-radius: 8px;
}

.carousel-indicators{
    margin-bottom: 2rem !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
    opacity: 60%;
    height: 20vh;
    width: 1.5vw;
    border-radius: 5px;
}
/* styles for carousel END */